body{
  font-family: franklin-gothic-urw, sans-serif;
  margin-right: auto; margin-left: auto;
  width: 1200px;
}

#logoImage{
  width: 289px; height: 93px;
  float: left;
}

#title{
  text-align: center;
}

#intructionText{
  clear: left;
  text-align: center;
  margin-top: 60px;
}

#continuingEducationLink{
  float: left;
}

#continuingEducationEmail{
  float: right;
}

.questionGroupTitle{
  background-color: grey;
}

.optionSelect{
  margin-top: 15px; margin-bottom: 17px;
}