body{
  font-family: franklin-gothic-urw, sans-serif;
  margin-right: auto; margin-left: auto;
  width: 1200px;
}

textarea{
  margin-top: 15px; margin-bottom: 15px;
}

#logoImage{
  width: 289px; height: 93px;
  float: left;
}

#title{
  text-align: center;
}

#intructionText{
  clear: left;
  text-align: center;
  margin-top: 60px;
}

#continuingEducationLink{
  float: left;
}

#continuingEducationEmail{
  float: right;
}

#bottomText{
  text-align: center;
}

#yearLabel{
  margin-left: 20px;
}

#submitButton{
  margin-top: 10px;
  padding-left: 15px; padding-right: 15px;
}

#yearSelect{
  width: 60px;
}

.questionGroupTitle{
  background-color: rgb(65, 65, 66);
  color: white;
  padding-left: 20px; padding-top: 4px; padding-bottom: 4px;
}

.optionSelect{
  margin-top: 15px; margin-bottom: 17px;
}

.bottomComments{
  margin-bottom: 15px;
}

.mediumTextInput{
  width: 500px;
}

.smallTextInput{
  width: 300px;
}