body{
  font-family: franklin-gothic-urw, sans-serif;
}

#logoImage{
  width: 289px; height: 93px;
  float: left;
}

#title{
  text-align: center;
}

#intructionText{
  clear: left;
}

.questionGroupTitle{
  background-color: grey;
}